/* font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif;

fz=18px

- Mobile: 375px
- Desktop: 1440px
*/



:root {

    /* primary */
    --soft-red: rgb(245, 156, 145);
    --Yellow: hsl(51, 100%, 49%);
    --font: rgb(69, 140, 126);
    --Darkmoderatecyan: rgb(132, 201, 188);
    --Darkdesaturated cyan (graphic design text): hsl(167, 40%, 24%);
    --Darkblue (photography text): hsl(198, 62%, 26%);


    /* neutral */
    --Verydesaturatedblue: hsl(212, 27%, 19%);
    --Verydarkgrayishblue: hsl(213, 9%, 39%);
    --Darkgrayish blue: hsl(232, 10%, 55%);
    --Grayishblue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
}

html {

    scroll-behavior: smooth;
}

body {
    font-family: 'Fraunces', serif;
    width: 100%;
}


.banner {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("./images/desktop/image-header.jpg");
    background-position: center bottom;
    background-size: cover;
}

.header {
    font-family: 'Barlow', sans-serif;
    display: flex;
    justify-content: space-between;
    height: 110px;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.menu {
    display: flex;
    font-size: 1.3rem;
    color: var(--White);
    align-items: center;
}

.menu span {
    margin-right: 45px;
    cursor: pointer;
}

.contact {

    font-family: 'Fraunces', sans-serif;
    background-color: var(--White);
    color: black;
    padding: 10px 25px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.25s all ease-in-out;
}

.contact:hover {
    opacity: .8;
}

.contact:active {
    opacity: .6;
}

.logo {
    width: 12%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    color: aliceblue;
    flex: 1;
}

.text {
    font-weight: 700;
    position: absolute;
    top: 160px;
}

.arrow {
    margin-top: 50px;
    position: absolute;
    top: 260px;
    animation-iteration-count: infinite;
    animation-name: arrow-ani;
    animation-duration: 2s;
}

@keyframes arrow-ani {
    0% {
        margin-top: 50px;
        opacity: 50%;
    }

    35% {
        margin-top: 100px;
        opacity: 100%;
    }

    100% {
        margin-top: 50px;
        opacity: 50%;
    }
}


/* section1 -------------------a bit section 2 inside*/

.section1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section1 .left {
    margin: 5% 19%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section1 .left * {
    margin-bottom: 35px;
    position: relative;
}

.section1 p {
    color: var(--Grayishblue);
}



h1 {
    font-weight: 900;
    color: var(--Verydesaturatedblue);
    font-size: 2.7vw;
}

p {
    font-family: 'Barlow', sans-serif;
    font-size: 1.2vw;

}

.section1 a,
.section2 a {
    color: var(--Verydesaturatedblue);
    font-weight: 900;
    text-decoration: none;
    font-size: 1.3vw;
    margin-left: 5px;
    position: relative;
    width: fit-content;
}

.section-action::after {
    content: '';
    position: absolute;
    height: 1rem;
    left: -10px;
    right: -10px;
    border-radius: 100px;
    opacity: 0.3;
    z-index: -1;
}

.section1 .section-action::after {
    background-color: var(--Yellow);
    top: 60%;
}

.section2 .section-action::after {
    background-color: var(--soft-red);
    top: 60%;
}

.section1 .right img {
    width: 100%;
}


/* section2--------------------------- */

.section2 p {
    color: var(--Grayishblue);
}

.section2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.section2 .left img {
    width: 100%;
}

.section2 .right {
    margin: 5% 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.section2 .right * {
    margin-bottom: 35px;
}

/* section3---------------------- */

.section3 {
    display: flex;
}

.main3 {
    position: absolute;
    top: 70%;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    opacity: .6;
    line-height: 2vw;
}


.main3 h2 {
    font-size: 2.4vw;
    margin-bottom: 20px;
    font-weight: 900;
}


.section3 img {
    width: 100%;
}

.section3 .right,
.section3 .left {
    position: relative;
}


/* section4---------------------- */
.section4 header {
    text-transform: uppercase;
    color: var(--Grayishblue);
    letter-spacing: .5vw;
    margin-bottom: 60px;
}

.section4 {
    padding-top: 10%;
    text-align: center;
    display: grid;
    padding-bottom: 5%;
}



.section4 .clients {
    text-align: center;
    display: flex;
}

.cliens {
    width: 100vw;
}

.clients * {
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.clients img {
    margin-top: 20px;
    margin-bottom: 10%;
    border-radius: 50%;
    width: 90px;
}

.clients p {
    margin-bottom: 25%;
    height: 50px;
}

.clients h4 {
    color: var(--Grayishblue);
}


/* section5 ---------------------*/

.section5 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.section5 img {
    width: 100%;

}

/* section6 ---------------------------*/

.section6 {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--Darkmoderatecyan);
}

.info {
    display: flex;
    padding-bottom: 20px;
}

.info p {
    cursor: pointer;
}

.info * {
    padding: 30px;
    color: var(--font);
    font-weight: 900;
}

.fot-logo {
    margin-top: 25%;
    width: 50%;
    justify-self: center;
    opacity: 0.7;
}

.contact-icon {
    display: flex;
    justify-self: center;
    padding-bottom: 30px;
}

.contact-icon * {
    padding: 15px;
    width: 25px;
}


/* mobile sizing */

@media(max-width: 650px) {
    .section4 .clients {
        flex-direction: column;
    }

    .clients p {
        margin-bottom: 2%;
        padding-left: 10%;
        padding-right: 10%;
        font-size: 2.5vw;
        margin-top: 0;
    }

    .clients img {
        margin-top: 60px;
        margin-bottom: 20px;
    }

    .main {
        font-size: 9vw;
        margin: 0 15%;
        text-align: center;
    }
}

@media (max-width: 375px) {

    .section1 {
        grid-template-columns: 1fr;
    }

    .section1 h1 {
        margin-top: 35px;
    }

    .main {
        font-size: 10vw;
        text-align: center;
    }

    .section2 {
        grid-template-columns: 1fr;
    }

    .section2 h1 {
        margin-top: 35px;
    }

    .section3 {
        flex-direction: column;
    }

    .main3 h2 {
        font-size: 5vw;
        margin-top: -10%;
        margin-bottom: 10%;
    }

    .clients p {
        margin-bottom: 5%;
    }

    h3 {
        font-size: 3.5vw;
    }

    h4 {
        font-size: 2.3vw;
    }

    .section4 .clients {
        flex-direction: column;
    }

    .clients img {
        margin-top: 50px;
    }

    .section5 {
        grid-template-columns: 1fr 1fr;
    }

    h1 {
        font-size: 5vw;
    }

    h2 {
        font-size: 5vw;
        margin-top: 20px;
    }

    p {
        font-size: 3vw;
    }

    .main3 p {
        line-height: normal;
        margin-bottom: 15px;
    }

    .section1 a,
    .section2 a {
        font-size: 3vw;
        font-weight: 700;
    }

}

.menubtn {
    display: none;
}

@media (max-width: 750px) {
    .contact {
        background-color: var(--Yellow);
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        margin-bottom: 15px;
        font-size: 5vw;
    }

    .menu span {
        cursor: pointer;
        margin-top: 20px;
        font-size: 4vw;
        color: var(--Grayishblue);
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
    }

    .text {
        text-align: center;
        padding-top: 60px;
        width: 80%;
    }

    .arrow {
        padding-top: 100px;
    }

    .logo {
        width: 20%;
    }

    .nav-links::before {
        content: '';
        position: absolute;
        top: -40px;
        right: 0px;
        border-top: 40px solid transparent;
        border-right: 40px solid white;
        border-left: none;
        border-bottom: 40px solid transparent;
    }

    .menubtn {
        display: block;
        width: 2rem;
        height: 0.2rem;
        background-color: var(--White);
        position: relative;

    }

    .nav-links {
        display: none;
    }

    .menubtn::before {
        transition: 0.25s all ease-in-out;
        content: '';
        position: absolute;
        left: 50%;
        right: 0%;
        bottom: -0.5rem;
        height: 0.2rem;
        background-color: var(--White);
    }

    .menubtn::after {
        transition: 0.25s all ease-in-out;
        content: "";
        position: absolute;
        background-color: var(--White);
        left: 10%;
        right: 0;
        bottom: .5rem;
        height: .2rem;

    }
}

.menubtn-open {
    transition: 0.25s all ease-in-out;
}

.nav-links-open {
    display: grid;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 120px;
    width: 80%;
    height: 50vh;
    font-size: 3vw;
    z-index: 2;
    background-color: var(--White);
    color: var(--Darkblue);
    transition: 0.5s;
}


.cross-on {
    transform: rotate(45deg);
    transition: 0.25s all ease-in-out;
}

.menubtn-open::before {
    opacity: 0;
    transition: 0.25s all ease-in-out;
}

.menubtn-open::after {
    left: 0%;
    transition: .25s all ease-in-out;
    transform: rotate(90deg);
    top: 0rem;
    bottom: 0rem;
}